* {
    font-family: 'Open Sans', sans-serif;
}

section {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/network-2402637_1280.jpg");
    background-size: cover;
    background-position: center;
}